@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

// #region Screens
@mixin on-mobile {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-desktop-small {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin on-desktop-wide {
  @media (min-width: 2560px) {
    @content;
  }
}

@mixin only-mobiles {
  @media (max-width: 1023px) {
    @content;
  }
}

// #endregion

// #region Grid Layout
@mixin grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 20px;
  column-gap: 20px;

  @include on-tablet {
    grid-template-columns: repeat(6, 68px);
    padding-inline: 40px;
    column-gap: 30px;
  }

  @include on-desktop-small {
    grid-template-columns: repeat(12, 58px);
    padding-inline: 54px;
    column-gap: 20px;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 68px);
    padding-inline: 227px;
    column-gap: 30px;
  }

  @include on-desktop-wide {
    grid-template-columns: repeat(12, 68px);
    padding-inline: 707px;
  }
}

// #endregion
